<div class=container>
    <div class="zoom">
        <img src="https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
            alt="book text">
    </div>
    <div class="centered">

        <b> A Bookworm's Heaven</b>
    </div>

</div>

<mat-card class="HowDoesAtticWork">
    <div class="background">
        <br>

        <mat-card-title> <b>How Does <span style=color:#ca7b13>Book Attic</span> Work?</b></mat-card-title>

        <span class="logincontent">
            <div class="image">
                <img mat-card-image src="https://www.flaticon.com/svg/static/icons/svg/1077/1077063.svg"
                    alt="LoginPhoto">
            </div>

            <mat-card-subtitle style="color:#7b1fa2; text-align:center"><b>Login/Signup</b></mat-card-subtitle>

            Login to our website with your email and password. If this is the first time you are visiting,
            make sure you sign up to create a new account! <br> <br>
        </span>

        <span class="buycontent">
            <div class="image">
                <img mat-card-image src="https://www.flaticon.com/svg/static/icons/svg/3190/3190429.svg"
                    alt="Photo of a Shiba Inu">
            </div>

            <mat-card-subtitle style="color:#7b1fa2; text-align:center"><b>Buy a Book</b></mat-card-subtitle>

            Browse through hundreds of books from a variety of genres. After placing an order for a book, it will be
            delivered to your door within 3 working days. <br><br>
        </span>

        <span class="sellcontent">
            <div class="image">
                <img mat-card-image src="https://www.flaticon.com/svg/static/icons/svg/2405/2405257.svg"
                    alt="Photo of a Shiba Inu">
            </div>

            <mat-card-subtitle style="color:#7b1fa2; text-align:center"><b>Sell a Book</b></mat-card-subtitle>

            If you have a few books you wish to sell, you can easily create a listing for each of them,
            specifying price, condition, and other details. <br><br>
        </span>
        <br>
    </div>
</mat-card>

<div class="quoteImage">
    <img
        src="https://quotefancy.com/media/wallpaper/3840x2160/3001424-Aravind-Adiga-Quote-Every-book-is-a-kind-of-struggle-and-it-s-a.jpg">

</div>



<mat-card class="ourVisionCard">
    <div class="background">
        <br>

        <mat-card-title style=color:#ca7b13><b>Our Vision</b></mat-card-title>
        <div class="center">
            <mat-card-content class="OurVisionContent">
                <br>
                Book Attic was created with a simple purpose: To bring together
                all book lovers under one roof. With the start of our venture, we hope to
                make book buying and selling across the city easier than ever, as we seek to
                encourage the love of reading in everyone. <br> <br>
            </mat-card-content>
        </div>
    </div>

</mat-card>